
header{
    display: flex;
    height: 15vh;
    text-align: center;
    align-items: center;
    background-color: rgb(72, 79, 82);
}

#Titolo{
    margin: auto;
    text-decoration: underline;
    font-size: 7vh;
    color: rgb(0, 161, 155);
}

nav{
    height: 15vh;
    display: flex;
}

.in_centro{
    display: flex;
    width: 50vw;
    margin: auto;
    gap: 10px;
}

.in_centro div{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 7vh;
    color: white;
    border: solid 1px white;
    background-color: rgb(0, 161, 155); /* Mercedes Green 00A19B  Rosso mercedes 80142b*/
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0 1vw;
    margin: auto;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.in_centro div:hover{
    background-color: rgb(0, 101, 98);
    transition: 0.5s;
}

.divisore{
    width: 100vw;
    display: flex;
}