.griglia{
    padding-bottom: 10vh;
    font-size: 6vh;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    color: white;

}

.col1{
    display: flex;
    flex-direction: column;
}

.col1 #text1{
    justify-content: end;
}

.col1 #text1 div{
    background-image: linear-gradient( to right, #7d0885, #dda0dd);
    color: transparent;
    background-clip: text;
}

.col1 #text2{
    background-image: linear-gradient( to right, plum, #6696ff);
    color: transparent;
    justify-content: end;
    background-clip: text;
    padding-left: 3vw;
}

.col1 .text{
    display: flex;
    align-items: center;
    height: 20vh;
}

#img3{
 width: 30vw;
}

.col2{
    display: flex;
    flex-direction: column;
}

#imgCont1{
    display: flex;
    justify-content: end;
}

#img1{
    display: block;
    width: 40vw;
}

#imgCont2{
    display: flex;
    justify-content: center;
}

#img2{
    display: block;
    width: 50vw;
}

.col2 .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient( to right,plum,#dfe2f1, plum);
    color: transparent;
    background-clip: text;
}

#sezione1{
    width: 100vw;
}

#sezione1 img{
    display: block;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
    background-image: url('../fotoProgetto/DOLOMITI’S\ GALLERY.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

.fullscreen > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /*background-color: rgba(118, 118, 118, 0.303);*/
}

.fullscreen > div .titolo{
    font-size: 8vh;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.contenuto-introduzione{
    display: flex;
    padding: 20vh 20vh 20vh 20vh;
    column-gap: 4%;
    background-color: #f6f6f6;
}

/*
    background-color: hsla(0, 0%, 90%, 0.701);
*/
.contenuto-introduzione div .titolo{
    display: flex;
    font-size: 6vh;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 3vh;
}

.contenuto-introduzione div .contenuto{
    word-spacing: 8px;
    line-height: 1.6;
    font-size: 2.5vh;
    width: 90%;
}

.cont{
    width: 60%;
}

.cont-img{
    width: 40%;
}

.contenuto-introduzione > div img{
    width: 100%;
}

#sezione2{
    background-color: black;
}

article{
    padding: 0;
    margin: 0;
}

.contenitore-bimmagine{
    display: flex;
    margin: 0;
    width: 100%;
}

.contenitore-bimmagine #foto1 {
    width: 50vw;
    height: 100vh;
    background-image: url('../fotoProgetto/montagnonaObereggen.JPG');
    background-size: cover; 
    background-position: left center; 
    background-repeat: no-repeat;
    
}
section{
    padding: 0;
    margin: 0;
}

.flessibile{
    display: flex;
}

.relativo{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: end;
    font-size: 3vh !important;
    text-decoration: none !important;
}

.btn{
    transition: 0.5s;
    padding: 1.5vh;
    cursor: pointer;
}

.btn:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.contenitore-bimmagine #foto2{
    width: 50vw;
    height: 100vh;
    background-image: url('../fotoProgetto/FotoVerticaleMonte.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

#foto1 > div{
    width: 100%;
    height: 100%;
    background-color: rgba(129, 129, 255, 0.3);
}

#foto2 > div{
    width: 100%;
    height: 100%;
    background-color: rgba(118, 26, 3, 0.296);
}

#foto2 .titolo{
    display: flex;
    justify-content: right;
    align-items: end;
    padding-right: 2vw;
    height: 49vh;
}

#foto1 .titolo{
    display: flex;
    align-items: end;
    height: 61vh;
    padding-left: 2vw;
}

.titolo{
    font-size: 8vh;
    font-weight: bold;
    color: white;
    font-family: 'FontTitoli';
    text-decoration: underline;
    text-shadow: 2px 2px gray;
}

.map-text-container {
    display: flex;
    align-items: flex-start; 
    padding: 20vh 20vh 20vh 20vh;
}
  
.map-container {
    flex: 1;  
}
  
.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    word-spacing: 8px;
    line-height: 1.6;
    font-size: 3vh;
    margin: auto;
}

.text-container .titolo{
    font-size: 6vh;
    color: black;
    text-decoration: underline;
    text-shadow: none;
    font-weight: bold;
}

.text-container .contenuto{
    font-size: 2.5vh;
    padding-right: 4vw;
}

body{
    margin: 0;
    font-family: 'FontPrincipale', sans-serif;
    font-weight: 300;
    width: 100%;
    background-color: black;
}

span {
    color: plum;
    font-weight: 600;
}

@font-face {
    font-family: 'FontPrincipale'; 
    src: url('../font/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontTitoli'; 
    src: url('../font/ManropePoppins/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
