#hr{
    position: fixed;
    z-index: 2;
    transform: translateX(-220px);
    transition: transform 0.5s ease-in-out;
    width: 270px;
    justify-items: end;
}

#menu{
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#sottotitolo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    height: 50px;
}

#sottotitolo div{
    clip-path: inset(0 100% 0 0); 
    transition: clip-path 1s ease-in-out 0.3s;
}

#menu:hover{
    background-color: rgb(59, 59, 59);
}

.box{
    display: flex;
}

aside{
    position:fixed;
    height: 100vh;
    width: 270px;
    background-color: black;
    color: white;
    z-index: 1;
    transform: translateX(-100%); 
    transition: transform 0.5s ease-in-out; 
}

#contenitore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 3vw;
}

.textMenu{
    clip-path: inset(0 100% 0 0); 
    transition: clip-path 1s ease-in-out 0.3s, transform 0.5s;
    cursor: pointer;
}

.textMenu:hover{
    color: plum;
    transform: scale(1.1);
    transition: 0.5s;
}

.open{
    transform: translateX(0);
}

.open .textMenu{
    clip-path: inset(0 0 0 0); 
}

.open #sottotitolo div{
    clip-path: inset(0 0 0 0); 
}

.open2{
    transform: translateX(0px) !important;
}

#contenitore div{
    margin-bottom: 3vh;
}