.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal2 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal2.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal3 {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal3.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal4 {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal4.visible {
    opacity: 1; 
    transform: translateX(0);
}

.reveal5 {
    opacity: 0;
    transform: translateX(+30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal5.visible {
    opacity: 1;
    transform: translateX(0);
}