.map-container {
    position: relative;
    display: block;
    max-width: 800px;
    overflow: hidden;
    height: auto;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: plum;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 90;
}

.marker:hover {
    background-color: navy;
    width: 24px;
    height: 24px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
}


.marker::after {
    content: attr(title);
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.marker:hover::after {
    visibility: visible;
    opacity: 1;
}